.container {
  width: 400px;
  margin: 50px auto;
  text-align: center;
}
body {
  background-color: rgb(221, 232, 195);
}

.input-section input {
  padding: 8px;
  width: 70%;
}

button {
  padding: 6px 10px;
  margin: 5px;
}

li {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin-top: 5px;
  padding: 8px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
