body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background: #191b1c;
  color: white;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 50px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 30px;
}

.hero {
  padding: 50px;
  text-align: center;
  color: white;
  background: #5d83ad;
}
section {
  padding: 20px;
  text-align: start;
}

button {
  padding: 10px 15px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

button:hover {
  background: grey;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
